@charset "utf-8"
h1 {
    font-family: arial;
    font-size: 30pt;
    color: blue;

    text-shadow: 4px 4px 30px orange;
}
body {background-color: black;}
p {color: rgb(9, 255, 0);font-style: italic;}